:root {
	--main-color: #fff126;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 10px;
	height: 100dvh;
	background-image: url('./images/constellations-gdafe5d854_1920.jpg');
	background-size: cover;
	font-family: 'Space Grotesk', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-hidden {
	display: none;
}

.grid {
	position: relative;
	width: 600px;
	height: 800px;
	background-color: transparent;
	overflow: hidden;
	border-width: 32px;
	border-style: solid;
	border-image: url('./images/border.png');
	border-image-slice: 32;
	border-image-repeat: round;
}

.counting {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 160px;
	font-weight: bold;
	color: var(--main-color);
	text-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.midscore {
	margin-left: 10px;
	font-size: 48px;
	color: var(--main-color);
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.jumper {
	width: 60px;
	height: 90px;
	background-image: url('./images/astronaut-96.png');
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index: 1;
}

.platform {
	position: absolute;
	width: 100px;
	height: 12px;
	border-radius: 6px;
	background-color: var(--main-color);
}

.backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.heading {
	margin-bottom: 100px;
	font-size: 80px;
	color: var(--main-color);
}

.pregame-text {
	font-size: 24px;
	color: #fff;
}

.pregame-text h2 {
	text-align: center;
	margin-bottom: 20px;
}

.pregame-text p {
	margin-bottom: 10px;
}

.pregame-text img {
	vertical-align: middle;
}

.ending-text {
	text-align: center;
}

.ending-text h2 {
	margin-bottom: 20px;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
}

.ending-text p {
	font-size: 48px;
	color: var(--main-color);
}

.start-btn {
	margin-top: 70px;
	padding-inline: 32px;
	height: 60px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	background-color: var(--main-color);
	color: #312f06;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}
